In [1]:
import os
import cv2 as cv

In [12]:
import pandas as pd
path = 'LST20_Corpus/train/T10026.txt'
filehandle = open(path)
for line in filehandle.readlines()[:10]:
    print(line)

มาดริด	NN	B_ORG	B_CLS

จ้อง	VV	O	I_CLS

คว้า	VV	O	I_CLS

"	PU	O	I_CLS

ฟาเบรกาส	NN	B_PER	I_CLS

"	PU	O	I_CLS

ปิด	VV	O	I_CLS

ฤดูกาล	NN	O	E_CLS



หนังสือพิมพ์	NN	B_ORG	B_CLS

In [19]:
pd.read_csv(path, sep='\t', quotechar=" ")

       มาดริด  NN  B_ORG  B_CLS
0        จ้อง  VV      O  I_CLS
1        คว้า  VV      O  I_CLS
2           "  PU      O  I_CLS
3    ฟาเบรกาส  NN  B_PER  I_CLS
4           "  PU      O  I_CLS
..        ...  ..    ...    ...
131        มา  AV      O  I_CLS
132      ร่วม  VV      O  I_CLS
133       ทีม  NN      O  I_CLS
134       ให้  CC      O  I_CLS
135       ได้  AX      O  E_CLS

[136 rows x 4 columns]