In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
the_standard = pd.read_csv('the_standard_business_20-09-21.csv')

In [13]:
the_standard

,Unnamed: 0,Date,Topic,Content,Tag
0,0,20.09.2021,กรุงศรีลุยยกระดับบริการธุรกรรมการเงินให้ตอบโจท...,\nเทคโนโลยีที่ก้าวหน้าในโลกยุคดิจิทัลได้ส่งผลใ...,"['ธนาคารกรุงศรีอยุธยา', 'Cashless Society', 'P..."
1,1,20.09.2021,JP เตรียมเปิดขาย IPO ไม่เกิน 115 ล้านหุ้น เข้า...,\nบมจ.โรงงานเภสัชอุตสาหกรรม เจเอสพี (ประเทศไทย...,"['หุ้น', 'IPO', 'โรงงานเภสัชอุตสาหกรรม เจเอสพี..."
2,2,20.09.2021,เปิดรับนักท่องเที่ยวในกรุงเทพฯ 15 ต.ค. อาจจะไม...,\nจากจำนวนผู้ติดเชื้อรายวัน ล่าสุดลดลงมาอยู่ที...,"['นักท่องเที่ยว', 'การท่องเที่ยว', 'เชื้อไวรัส..."
3,3,20.09.2021,หุ้น Evergrande ดิ่งอีก 17% ทำจุดต่ำสุดรอบ 11 ...,\nความเคลื่อนไหวล่าสุดวันนี้ (20 กันยายน) ของต...,"['อสังหาริมทรัพย์', 'การลงทุน', 'ตลาดหุ้น', 'ต..."
4,4,20.09.2021,กรุงไทยเปิดชำระเงินข้ามแดน ‘ไทย-สิงคโปร์’ ผ่าน...,\nผยง ศรีวณิช กรรมการผู้จัดการใหญ่ ธนาคารกรุงไ...,"['Singapore', 'Application', 'บริการชำระเงินด้..."
...,...,...,...,...,...
11113,11113,13.06.2017,บัลลังก์ Uber สะเทือนอีกครั้ง หลังบอร์ดเตรียมพ...,\n แม้จะขึ้นชื่อว่าเป็นสตาร์ทอัพผู้ให้บริก...,"['Google', 'Uber', 'Travis Kalanick', 'Waymo',..."
11114,11114,12.06.2017,Alibaba ตั้งเป้าเป็นมหาอำนาจทางเศรษฐกิจอันดับท...,\n แจ็ค หม่า ประธานบริหารของ Alibaba Group...,"['Economy', 'Amazon', 'Alibaba', 'Jack Ma', 'T..."
11115,11115,09.06.2017,ทำไมเราถึงติดเฟซบุ๊ก? รู้จัก ‘Hook Model’ และเ...,\n เราใช้เวลากับการเล่นเฟซบุ๊กเฉลี่ยวันละก...,"['Startup', 'Facebook', 'Social Media', 'Amazo..."
11116,11116,08.06.2017,“จงหาจุดที่คุณจะเป็น monopoly ในตลาด” ยอด ชินส...,\n ถ้าคิดว่า wongnai.com เป็นแค่แพลตฟอร์มส...,"['Media 4.0', 'Wongnai', 'ยอด ชินสุภัคกุล', 'L..."
11117,11117,08.06.2017,คนไทยว่างงานสูงสุดในรอบ 7 ปี นักวิชาการและเอกช...,\n เมื่อเดือนพฤษภาคมที่ผ่านมา รัฐบาลออกมาแ...,"['สถาบันวิจัยเพื่อการพัฒนาประเทศไทย (TDRI)', '..."

In [19]:
the_standard.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11118 entries, 0 to 11117
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  11118 non-null  int64
 1   Date        11118 non-null  object
 2   Topic       11118 non-null  object
 3   Content     11118 non-null  object
 4   Tag         11118 non-null  object
dtypes: int64(1), object(4)
memory usage: 434.4+ KB

In [14]:
matichon = pd.read_csv('matichon_business_21-09-21_30-09-21.csv')

In [15]:
matichon

,Unnamed: 0,Date,Topic,Content
0,0,2021-09-21T11:21:51+00:00,‘บิ๊กตู่’ นำถก ครม.เต็มคณะ จับตาพิจารณาขยายเพด...,เมื่อเวลา 09.00 น. วันที่ 21 กันยายน ที่ทำเนีย...
1,1,2021-09-21T11:09:01+00:00,ธ.ไทยเครดิต จับมือ กรมพัฒนาชุมชน จัดติวสร้างต้...,นายรอย ออกุสตินัส กุนารา กรรมการผู้จัดการ ธนาค...
2,2,2021-09-21T10:41:56+00:00,จอดป้ายประชาชื่น : ลงทุนโค้งสุดท้ายปี’64,จอดป้ายประชาชื่น : ลงทุนโค้งสุดท้ายปี’64\nจับท...
3,3,2021-09-21T10:28:03+00:00,ไทยครองอันดับ 9 ดัชนีนวัตกรรมโลก เจ้าของอนุสิท...,ไทยครองอันดับ 9 ดัชนีนวัตกรรมโลก ที่เป็นเจ้าขอ...
4,4,2021-09-21T10:21:00+00:00,คอฟฟี่เบรก : สั่งแก้ด่วน,เมื่อเร็วๆ นี้ กระทรวงพลังงาน โดยคณะกรรมการกอง...
...,...,...,...,...
48804,49146,2015-12-04T11:07:12+00:00,“กสทช.”ส่งเงินประมูล4จีเป็นรายได้แผ่นดิน4 หมื่...,นายฐากร ตัณฑสิทธิ์ เลขาธิการคณะกรรมการกิจการกร...
48805,49147,2015-12-02T18:40:12+00:00,Nissan ′Sylphy DIG TURBO′ สปอร์ตซีดาน′จัดจ้าน′,หลังจากค่ายนิสสันปรับกลยุทธ์สู้ศึกรถเก๋งขนาดกล...
48806,49148,2015-12-02T18:31:29+00:00,นิสสันเปิด′นาวารา′ใหม่ รุ่น′สปอร์ตเทค′-2สไตล์,นายประพัฒน์ เชยชม รองกรรมการผู้จัดการใหญ่อาวุโ...
48807,49149,2015-12-02T15:32:02+00:00,ส่งออกวิกฤต! ปีนี้ติดลบ5% สาหัสสุดรอบ 6ปี สภาผ...,นายนพพร เทพสิทธา ประธานสภาผู้ส่งสินค้าทางเรือแ...
48808,49150,2015-08-26T11:19:03+00:00,ลุ้นบาททะลุ40ต่อดอลล์ ปลายปี′59 เหตุสงครามค่าเ...,แบงก์ซีไอเอ็มบี ชี้การฟื้นฟูเศรษฐกิจติดปัญหารา...

In [18]:
matichon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48809 entries, 0 to 48808
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  48809 non-null  int64
 1   Date        48809 non-null  object
 2   Topic       48809 non-null  object
 3   Content     48448 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.5+ MB