In [1]:
import json

In [6]:
with open('contacts.json', 'r') as json_file:
    json_data = json.load(json_file)

In [7]:
type(json_data)

list

In [9]:
import pandas as pd

In [12]:
contacts_df = pd.DataFrame(json_data)

In [13]:
contacts_df.head()

   Id               Email         Phone  Contacts                    OrderId
0   0      gkzAbIy@qq.com                       1
1   1                      329442681752         4  vDDJJcxfLtSfkooPhbYnJdxov
2   2                        9125983679         0
3   3  mdllpYmE@gmail.com                       0  bHquEnCbbsGLqllwryxPsNOxa
4   4                         300364407         2

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import json

filepath = "contacts.json"

with open(filepath) as jsonfile:
    data = json.load(jsonfile)

df = pd.DataFrame(data)
df = df.replace({'':None})
df3 = df
df = df.set_index('Id')
df4 = df
df2= df['Contacts']
df = df.drop('Contacts',axis=1)

class Node():
    def __init__(self, state, parent, action):
        self.state = state
        self.parent = parent
        self.action = action


class StackFrontier():
    def __init__(self):
        self.frontier = []

    def add(self, node):
        self.frontier.append(node)

    def contains_state(self, state):
        return any(node.state == state for node in self.frontier)

    def empty(self):
        return len(self.frontier) == 0

    def remove(self):
        if self.empty():
            raise Exception("empty frontier")
        else:
            node = self.frontier[-1]
            self.frontier = self.frontier[:-1]
            return node

def clus(source):
    """
    source = df Email Phone Contacts OrderId
    """
    ans = []
    count = 0
    qu = StackFrontier()
    quDrop = []
    qu.add(Node(source[0],None,getSame(source)['Id']))
    while (qu.empty() != True):
        now = qu.remove()
        count = count+df3.loc[df3['Id']==now.state].values[0][3]
        ans.append(now.state)
        quDrop.append(now.state)
        for i in now.action:
            if ((qu.contains_state(i) == False) & (i not in quDrop)):
                qu.add(Node(i,now,getSame(df3.loc[df3['Id']==i].values[0])['Id']))
    ans.sort()
    
    return [ans,count]

def getSame(obj):    
    return df3.loc[(df3['Email'] == obj[1]) | (df3['Phone'] == obj[2]) | (df3['OrderId']==obj[4])]

a,b = clus(df3.iloc[1])

In [3]:
a

[1, 2458, 98519, 115061, 140081, 165605, 476346]

In [4]:
b

12

In [7]:
getSame(df3.loc[1])

,Id,Email,Phone,Contacts,OrderId
1,1,None,329442681752,4,vDDJJcxfLtSfkooPhbYnJdxov
2458,2458,ULziZaVD@hotmail.com,069988936,1,vDDJJcxfLtSfkooPhbYnJdxov
476346,476346,WXJDcOYGapCzchhwH@gmail.com,None,0,vDDJJcxfLtSfkooPhbYnJdxov

In [6]:
getSame(df3.loc[2458])

,Id,Email,Phone,Contacts,OrderId
1,1,None,329442681752,4,vDDJJcxfLtSfkooPhbYnJdxov
2458,2458,ULziZaVD@hotmail.com,069988936,1,vDDJJcxfLtSfkooPhbYnJdxov
98519,98519,ULziZaVD@hotmail.com,None,2,mwVhJZGKtahXEdLMwVLcOAxXG
115061,115061,JmMSyjzmxdelSmeAHBUi@yahoo.com,069988936,4,None
476346,476346,WXJDcOYGapCzchhwH@gmail.com,None,0,vDDJJcxfLtSfkooPhbYnJdxov

In [8]:
getSame(df3.loc[98519])

,Id,Email,Phone,Contacts,OrderId
2458,2458,ULziZaVD@hotmail.com,069988936,1,vDDJJcxfLtSfkooPhbYnJdxov
98519,98519,ULziZaVD@hotmail.com,None,2,mwVhJZGKtahXEdLMwVLcOAxXG
165605,165605,xXwrpkygOe@yahoo.com,None,0,mwVhJZGKtahXEdLMwVLcOAxXG

In [9]:
getSame(df3.loc[115061])

,Id,Email,Phone,Contacts,OrderId
2458,2458,ULziZaVD@hotmail.com,069988936,1,vDDJJcxfLtSfkooPhbYnJdxov
115061,115061,JmMSyjzmxdelSmeAHBUi@yahoo.com,069988936,4,None

In [10]:
getSame(df3.loc[140081])

,Id,Email,Phone,Contacts,OrderId
140081,140081,xXwrpkygOe@yahoo.com,None,1,None
165605,165605,xXwrpkygOe@yahoo.com,None,0,mwVhJZGKtahXEdLMwVLcOAxXG

In [11]:
getSame(df3.loc[165605])

,Id,Email,Phone,Contacts,OrderId
98519,98519,ULziZaVD@hotmail.com,None,2,mwVhJZGKtahXEdLMwVLcOAxXG
140081,140081,xXwrpkygOe@yahoo.com,None,1,None
165605,165605,xXwrpkygOe@yahoo.com,None,0,mwVhJZGKtahXEdLMwVLcOAxXG

In [12]:
getSame(df3.loc[476346])

,Id,Email,Phone,Contacts,OrderId
1,1,None,329442681752,4,vDDJJcxfLtSfkooPhbYnJdxov
2458,2458,ULziZaVD@hotmail.com,069988936,1,vDDJJcxfLtSfkooPhbYnJdxov
476346,476346,WXJDcOYGapCzchhwH@gmail.com,None,0,vDDJJcxfLtSfkooPhbYnJdxov